@model Pomodoro.Models.PomodoroViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="animate">
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="text-center">
    @Html.Partial("_Pomodoro", Model)
</div>
